body {
    font-size: 16pt;
    font-family: 'Roboto', 'Open Sans', 'Roboto Slab', 'Serif' !important;
}

/* Navbar Styles */ 

/* Navbar Font Styles */
.nav-custom {
    font-size: 18pt;
}

/* Navbar Nav Alignment */
.navbar ul {
    text-align:center;
    width: 100%;
}
.navbar ul > li {
    display: inline-block;
    float: none;
}

/* Navbar Collapsed Menu Background Color */
@media screen and (min-width: 0px) and (max-width: 1024px) {
    .navbar-collapse {
        background-color: rgba(68, 68, 68, 0.99);
        margin: -.5rem -1rem;
        padding: .5rem 1rem;
    }
}

/* Navbar Nav Dividers */
.border-md-right {
    border-right: 2px solid silver;
}

@media (max-width: 1024px) {
    .border-md-right {
        border-right: none;
        border-bottom: 1px solid silver;
    }
}

/* Navbar Transition */
.navbar {
    background-color: transparent !important;
    -webkit-transition: all 0.6s ease-out !important;
    -moz-transition: all 0.6s ease-out !important;
    -o-transition: all 0.6s ease-out !important;
    -ms-transition: all 0.6s ease-out !important;
    transition: all 0.6s ease-out !important;
}

.navbar.scrolled {
    background: rgb(68, 68, 68) !important; /* IE */
    background: rgba(68, 68, 68, 0.99) !important; /* NON-IE */
}
/* End transition*/
/* End of Navbar Styles */

.main-image {
    background: url("../img/footballsunset2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 200px;
    text-align: center !important;
}

.main-heading-text {
    font-size: 25pt;
    font-weight: 400;
}

.main-heading-top {
    font-size: 60pt !important;
    color: seashell !important;
    text-shadow: 2px 2px 5px #000000;
}

.hr {
    margin: 40px;
}

.main-body {
    font-size: 18pt;
    text-align: center;
    font-weight: 600 !important;
    color: #333333;
    margin-bottom: 30px;
}

.main-heading {
    font-size: 30pt;
    text-align: center;
    margin: 40px;
}

.card-custom {
  margin: 15px;
  width: 350px;
}

.card-img-custom {
    height: 6vw;
    align-self: center;
}

.custom-footer {
    background-color: rgb(22, 22, 22);
    text-align: center;
    margin-top: auto;
    padding: 30px;;
}

.test-container {
    margin-top: 300px;
    margin-bottom: 200px;;
}

/* Card ID's */
#card-img-bigfork {
    width: 8vw;
}

#card-img-cfalls {
    width: 8vw;
}

#card-img-GF {
    width: 10vw;
}

#card-img-contact {
    width: 10vw;
}

#card-img-join {
    width: 10vw;
}