/*not an empty file*/
body {
    color: whitesmoke;
    background-color: royalblue;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.main-image {
    background: url("../img/footballsunset2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}